<!DOCTYPE html>
<html>
    <head>
        <title>Raghu's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Welcome to Raghu's Blog</a></h1>
        </header>

        <article>
            <time>published: 22.07.2022, 21:16</time>
            <h2><a href="">My first post: Thoughts on next swing cycle</a></h2>
            <p>My guess is you're going to see something else pop up that's interesting. Maybe it's commodity companies. I wouldn't be surprised if inflation becomes the bogeyman that we think it is; that's where the next action will be. Not in young tech firms. Think anti-ESG companies. Companies that ESG advocates tell you are evil, are going to become the most interesting.</p>
        </article>

        <article>
            <time>published: 22.07.2022, 21:16</time>
            <h2><a href="">My second post: random</a></h2>
            <p>It all started on a rainy day when a bored human tried to do something fun and stumbled upon this</p>
        </article>
    </body>
</html>
